 <!--
  developed by
  Rakesh Kumar(8786950)
  Yajuvendra(8784190)
 -->
 
 <!-- code by Yajuvendra -->
 <!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../layouts/header'); -%>
    <link rel="stylesheet" href="/assets/datetimepicker/jquery.datetimepicker.min.css">
</head>

<body>
    <%- include('../layouts/nav-header'); -%>
    <!-- Main Content-->
    <main class="container">
        <h2>Page Not Found</h2>
    </main>
    <%- include('../layouts/footer'); -%>
    <%- include('../layouts/common-scripts'); -%>
    <script src="/assets/datetimepicker/jquery.datetimepicker.full.min.js"></script>
    <script src="/js/examiner.js"></script>
</body>

</html>