 <!--
  developed by
  Rakesh Kumar(8786950)
  Yajuvendra(8784190)
 -->
 <!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../layouts/header'); -%>
</head>

<body>
    <%- include('../layouts/nav-header'); -%>
    <!-- Main Content-->
    <main>
        <h2>Welcome </h2>
        <h3>Very Good Morning </h3>
    </main>

    <%- include('../layouts/footer'); -%>
    <%- include('../layouts/common-scripts'); -%>
</body>

</html>