 
  <!--
  developed by
  Rakesh Kumar(8786950)
  Yajuvendra(8784190)
 -->


<!-- code by Rakesh Kumar -->
 <!-- Navigation-->
 <nav class="navbar navbar-expand-lg navbar-light" id="mainNav">
     <div class="container px-4 px-lg-5">
         <a class="navbar-brand" href="dashboard">Pizza Store</a>
         <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive"
             aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
             Menu
             <i class="fas fa-bars"></i>
         </button>
         <div class="collapse navbar-collapse" id="navbarResponsive">
             <ul class="navbar-nav ms-auto py-4 py-lg-0">
                 <%    if(IsUserLoggedIn) {  %>

                 <%    if(LoginedUserType=='employee') {  %>
                 <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" href="/dashboard">Dashboard</a></li>
                 <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" href="/employee-add-order">Add Order</a></li>
                 <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" href="/employee-view-orders">View Orders</a></li>
                 <% }  %>

                 <%   if(LoginedUserType=='Admin') {  %>
                 <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4"
                         href="/admin-appointments">Appointment</a></li>
                 <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" href="/admin-driver-list">Examnee
                         List</a></li>
                 <% }  %>

                 <%  if(LoginedUserType=='Examiner') {  %>
                 <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" href="/examiner">Examiner</a></li>
                 <% }  %>

                 <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" href="/Logout">Logout</a></li>
                 <%   }
                 else
                 {%>
                 <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" href="/Login">Login/Register</a></li>
                 <% }  %>



             </ul>
         </div>
     </div>
 </nav>
 <!-- Page Header-->
 <header class="masthead">
     <div class="container position-relative px-4 px-lg-5">
         <div class="row gx-4 gx-lg-5 justify-content-center">
             <div class="col-md-10 col-lg-8 col-xl-7">
                 <div class="site-heading">
                     <h1>Welcome to Pizza store</h1>
                 </div>
             </div>
         </div>
     </div>
 </header>